<li [ngClass]="{'list-group-item':true,
                'list-group-item-success': appareilStatus === 'allumé',
                'list-group-item-danger': appareilStatus ==='éteint' }">

  <h4 [ngStyle]="{color: getColor() }"> Appareil : {{ appareilName }}  --Statut : {{ getStatus() }}</h4>
  <a  [routerLink]="[id]"> Détail </a>

  <button class="btn btn-sm btn-success"
          *ngIf="appareilStatus==='allumé'"
          (click)="onSwitchOn()"> éteindre </button>

  <button class="btn btn-sm btn-danger "
          *ngIf="appareilStatus==='éteint'"
          (click)="onSwitchOn()"> Allumer </button>
</li>
